[submodule "lib/orbit-protocol"]
	path = lib/orbit-protocol
	url = https://github.com/orbit-protocol/contracts.git

[submodule "lib/openzeppelin"]
	path = lib/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git

[submodule "lib/mangrove-core"]
    path = lib/mangrove-core
    url = https://github.com/mangrovedao/mangrove-core.git
	
[submodule "lib/v2-core"]
    path = lib/v2-core
    url = https://github.com/Uniswap/v2-core.git

[submodule "lib/v3-core"]
    path = lib/v3-core
    url = https://github.com/Uniswap/v3-core.git

[submodule "lib/v3-periphery"]
    path = lib/v3-periphery
    url = https://github.com/Uniswap/v3-periphery.git